<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.pspdfkit.cordovaplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>
	<name>PSPDFKitPlugin</name>
	<license>Copyright 2011-2014 PSPDFKit GmbH. All rights reserved.
THIS SOURCE CODE AND ANY ACCOMPANYING DOCUMENTATION ARE PROTECTED BY AUSTRIAN COPYRIGHT LAW AND MAY NOT BE RESOLD OR REDISTRIBUTED. USAGE IS BOUND TO THE PSPDFKIT LICENSE AGREEMENT. UNAUTHORIZED REPRODUCTION OR DISTRIBUTION IS SUBJECT TO CIVIL AND CRIMINAL PENALTIES.
http://pspdfkit.com/license.html</license>
	<js-module src="www/js/pspdfkit.js" name="PSPDFKitPlugin">
	</js-module>	
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="PSPDFKitPlugin">
				<param name="ios-package" value="PSPDFKitPlugin"/>
			</feature>
		</config-file>
		<source-file src="PSPDFPlugin/Plugins/PSPDFKit/PSPDFKitPlugin.m"/>
		<header-file src="PSPDFPlugin/Plugins/PSPDFKit/PSPDFKitPlugin.h"/>
		<source-file src="PSPDFKit.embeddedframework" framework="true"/>
	</platform>
</plugin>
