<?xml version="1.0" encoding="UTF-8"?>
<plugin id="pspdfkit-cordova-ios" version="1.3.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<engines>
		<engine name="cordova" version=">=6.3.1"/>
	</engines>
	<name>PSPDFKitPlugin</name>
	<license>Copyright 2011-2019 PSPDFKit GmbH. All rights reserved.
THIS SOURCE CODE AND ANY ACCOMPANYING DOCUMENTATION ARE PROTECTED BY AUSTRIAN COPYRIGHT LAW AND MAY NOT BE RESOLD OR REDISTRIBUTED. USAGE IS BOUND TO THE PSPDFKIT LICENSE AGREEMENT. UNAUTHORIZED REPRODUCTION OR DISTRIBUTION IS SUBJECT TO CIVIL AND CRIMINAL PENALTIES.
http://pspdfkit.com/license.html</license>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="PSPDFKitPlugin">
				<param name="ios-package" value="PSPDFKitPlugin"/>
			</feature>
		</config-file>

		<js-module src="PSPDFKitPlugin/pspdfkit.js" name="PSPDFKitPlugin">
			<clobbers target="PSPDFKitPlugin" />
		</js-module>

		<source-file src="PSPDFKitPlugin/PSPDFKitPlugin.m"/>
		<header-file src="PSPDFKitPlugin/PSPDFKitPlugin.h"/>

		<framework src="CoreText.framework" />
		<framework src="QuartzCore.framework" />
		<framework src="MessageUI.framework" />
		<framework src="ImageIO.framework" />
		<framework src="CoreMedia.framework" />
		<framework src="MediaPlayer.framework" />
		<framework src="CFNetwork.framework" />
		<framework src="AVFoundation.framework" />
		<framework src="AssetsLibrary.framework" />
		<framework src="Security.framework" />
		<framework src="QuickLook.framework" />
		<framework src="AudioToolbox.framework" />
		<framework src="CoreData.framework" />
		<framework src="CoreTelephony.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="Accelerate.framework" />
	</platform>
	<!-- don't indent the info block, because it will also indent the console output -->
	<info>
Please download PSPDFKit from your customer portal: https://customers.pspdfkit.com

The .dmg file you downloaded contains a directory called PSPDFKit.framework.
Please add this directory to your Xcode project file in platforms/ios and follow
the installation instructions listed here: https://pspdfkit.com/guides/ios/current/getting-started/integrating-pspdfkit/

Since this plugin is iOS 9+ only, you will have to set the deployment target
of your Xcode project in platforms/ios to iOS 9.

Plugin usage example:

PSPDFKitPlugin.present('file.pdf', {
	pageTransition: 'curl',
	editableAnnotationTypes: ['FreeText', 'Signature']
});
	</info>
</plugin>
