<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.pspdfkit.cordovaplugin" version="1.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>
	<name>PSPDFKitPlugin</name>
	<license>Copyright 2011-2014 PSPDFKit GmbH. All rights reserved.
THIS SOURCE CODE AND ANY ACCOMPANYING DOCUMENTATION ARE PROTECTED BY AUSTRIAN COPYRIGHT LAW AND MAY NOT BE RESOLD OR REDISTRIBUTED. USAGE IS BOUND TO THE PSPDFKIT LICENSE AGREEMENT. UNAUTHORIZED REPRODUCTION OR DISTRIBUTION IS SUBJECT TO CIVIL AND CRIMINAL PENALTIES.
http://pspdfkit.com/license.html</license>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="PSPDFKitPlugin">
				<param name="ios-package" value="PSPDFKitPlugin"/>
			</feature>
		</config-file>

		<js-module src="PSPDFKitPlugin/pspdfkit.js" name="PSPDFKitPlugin">
			<clobbers target="PSPDFKitPlugin" />
		</js-module>	

		<source-file src="PSPDFKitPlugin/PSPDFKitPlugin.m"/>
		<header-file src="PSPDFKitPlugin/PSPDFKitPlugin.h"/>

		<framework src="libsqlite3.dylib" />
		<framework src="libxml2.dylib" />
		<framework src="CoreText.framework" />
		<framework src="QuartzCore.framework" />
		<framework src="MessageUI.framework" />
		<framework src="libz.dylib" />
		<framework src="ImageIO.framework" />
		<framework src="CoreMedia.framework" />
		<framework src="MediaPlayer.framework" />
		<framework src="CFNetwork.framework" />
		<framework src="AVFoundation.framework" />
		<framework src="AssetsLibrary.framework" />
		<framework src="Security.framework" />
		<framework src="QuickLook.framework" />
		<framework src="AudioToolbox.framework" />
		<framework src="CoreData.framework" />
		<framework src="CoreTelephony.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="Accelerate.framework" />
	</platform>
	<info>
		
	Please add plugins/com.pspdfkit.cordovaplugin/PSPDFKit.embeddedframework to your Xcode project file in platforms/ios.
	
	Plugin usage example:

	PSPDFKitPlugin.present('file.pdf', {
		pageTransition: 'curl',
		editableAnnotationTypes: ['FreeText', 'Signature']
	});

	</info>
</plugin>
